body {
    text-align: center;
    background-color: rgb(90, 90, 90);
    font-weight: bold;
}

h1 {
    color: rgba(123, 229, 255, 0.596);
    font-style: oblique;
    font-size: 3em;
}

h3 {
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
}

.levels {
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
}

.levels button {
    background-color: rgb(255, 200, 61);
    margin: 10px 5px;
    display: inline-block;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    height: 40px;
    width: 130px;
}

.levels button span {
    display: none;
}

.levels button:hover {
    cursor: pointer;
}

.levels button:hover span {
    cursor: pointer;
    display: inline;
}

.phone {
    background-color: rgba(123, 229, 255, 0.596);
    padding: 30px;
    padding-top: 0;
    padding-bottom: 0;
    border: 6px solid black;
    border-top: 20px solid black;
    border-radius: 30px;
    width: fit-content;
    margin: auto;
    box-shadow: 10px 0px 0px black;
}

.dark-phone {
    background-color: black;
    border-color: white;
    box-shadow: 10px 0px 0px white;
}

.btn-dark {
    display: block;
    margin: auto;
    background-color: black;
    color: white;
    margin-bottom: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn-dark:hover {
    opacity: 0.8;
    cursor: pointer;
}

.safe {
    position: relative;
    right: 20%;
    width: 50px;
}

.safe:hover ,
.manual-mode:hover {
    cursor: pointer;
    opacity: 0.8;
}

.safe-cell {
    box-shadow: 5px 0px 0px black;
    background-color: rgb(255, 200, 61);
    opacity: 0.8;
}

.safe , 
.manual-mode {
    height: 40px;
    margin-bottom: 5px;
    font-weight: bold;
    background-color: rgb(255, 200, 61);
    border: none;
    border-radius: 10px;
    transition: 0.5s;
}

.manual-mode {
    position: relative;
    left: 20%;
    width: 60px;
}

.manual-mode span {
    line-height: 2.5;
}

.camera {
    height: 7px;
    background-color: black;
}

.lives {
    position: relative;
}

.lives p {
    margin: 5px;
    display: inline-block;
    color: red;
    font-size: 30px;
}

.lost-live {
    opacity: 0;
    transition: 1s;
}

.btn-restart {
    background-color: rgba(123, 229, 255, 0);
    margin: 0 auto 20px auto;
    font-size: 50px;
    height: 50px;
    width: 80px;
    border: none;
    display: block;
}

.btn-restart:hover {
    cursor: pointer;
    opacity: 0.8;
}

table {
    margin: auto;
    margin-bottom: 20px;
    display: inline-block;
}

.cell {
    box-shadow: 5px 0px 20px black;
    transition: 0.5s;
    border: 2px solid black;
    height: 30px;
    width: 30px;
}

.dark-cell {
    box-shadow: 5px 0px 20px white;
    border: 2px solid white;
}

.cell:hover {
    border-color: red;
    cursor: pointer;
}

.cell.clicked:hover {
    border-color: black;
    cursor: default;
}

.clicked {
    box-shadow: 5px 0px 0px black;
    background-color: grey;
    opacity: 0.8;
}

.bombed {
    background-color: red;
    opacity: 0.8;
}

.hints {
    margin-bottom: 10px auto;
    height: 40px;
}

.hint {
    display: inline-block;
    font-size: 20px;
    margin: auto;
    margin-left: 5px;
    background-color: rgba(123, 229, 255, 0);
    border: none;
    transition: 0.3s;
}

.hint:hover {
    cursor: pointer;
    opacity: 0.6;
}

.hint-clicked {
    font-size: 25px;
    transition: 0.3s;
}

.undo {
    background-color: black;
    color: white;
    height: 20px;
    width: 50%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.undo:hover {
    opacity: 0.8;
    cursor: pointer;
}


.dark-color {
    color: white;
}
.dark-background {
    background-color: white;
    color: black;
}

footer {
    position: relative;
}