body {
    text-align: center;
    background-color: aqua;
}

.lives {
    margin-bottom: 0;
}

.lives span{
    color: red;
    font-size: 30px;
}

.btn-restart {
    background-color: aqua;
    margin: 15px auto;
    font-size: 50px;
    height: 50px;
    width: 80px;
    border: none;
    display: block;
    margin-right: 48%;
}

.btn-restart:hover {
    cursor: pointer;
    opacity: 0.8;
}

.game {
    width: fit-content;
    margin: 10px auto;
}

.hints {
    margin: 20px auto;
    display: inline-block;
    margin-top: 10%;
}

.hints button {
    font-size: 20px;
    display: block;
    margin-left: 10px;
    background-color: aqua;
    border: none;
}

.hints button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.hint-clicked {
    font-size: 40px;
}
.levels {
    margin-right: 30px;
    display: inline-block;
    position: relative;

}
.levels button {
    background-color: rgb(255, 200, 61);
    margin: 10px auto;
    display: inline-block;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    height: 40px;
    width: 130px;
}

.levels button span {
    display: none;
}

.levels button:hover {
    cursor: pointer;
}

.levels button:hover span {
    cursor: pointer;
    display: inline;
}

table {
    margin: auto;
    display: inline-block;
}

.cell {
    border: 2px solid black;
    height: 40px;
    width: 40px;
}

.cell:hover {
    border-color: red;
    cursor: pointer;
}

.cell.clicked:hover {
    border-color: black;
    cursor: default;
}

.clicked {
    background-color: grey;
    opacity: 0.8;
}

.bombed {
    background-color: red;
    opacity: 0.8;
}

footer {
    position: fixed;
    left: 39%;
}