body {
    text-align: center;
    background-color: aqua;
}

h1 {
    font-style: oblique;
    font-size: 3em;
}

h3 {
    font-size: 30px;
    margin-bottom: 0;
}

.levels {
    margin-bottom: 30px;
    display: inline-block;
    position: relative;

}

.levels button {
    background-color: rgb(255, 200, 61);
    margin: 10px auto;
    display: inline-block;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    height: 40px;
    width: 130px;
}

.levels button span {
    display: none;
}

.levels button:hover {
    cursor: pointer;
}

.levels button:hover span {
    cursor: pointer;
    display: inline;
}


.phone {
    padding: 30px;
    border: 6px solid black;
    border-top: 20px solid black;
    border-radius: 30px;
    width: fit-content;
    margin: auto;
    box-shadow: 10px 0px 0px black;
}

.camera {

    height: 10px;
    background-color: black;
}

.lives {
    position: relative;
}

.lives p {
    margin-left: 10px;
    display: inline-block;
    color: red;
    font-size: 30px;
}

.lost-live {
    opacity: 0;
    transition: 1s;
}

.btn-restart {
    background-color: aqua;
    margin: 0 auto 20px auto;
    font-size: 50px;
    height: 50px;
    width: 80px;
    border: none;
    display: block;
}

.btn-restart:hover {
    cursor: pointer;
    opacity: 0.8;
}

.game {
    width: fit-content;
    margin: 10px auto;
}


table {
    margin: auto;
    display: inline-block;
}

.cell {
    box-shadow: 5px 0px 20px black;
    transition: 0.5s;
    border: 2px solid black;
    height: 40px;
    width: 40px;
}

.cell:hover {
    border-color: red;
    cursor: pointer;
}

.cell.clicked:hover {
    border-color: black;
    cursor: default;
}

.clicked {
    box-shadow: 5px 0px 0px black;
    background-color: grey;
    opacity: 0.8;

}

.bombed {
    background-color: red;
    opacity: 0.8;
}

.hint {
    display: block;
    margin: auto;
}

footer {
    position: fixed;
    left: 39%;
}